

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-content {
    padding: 10px; /* Add padding as needed */
   
}

.scrollable-element {
    max-height: 400px;
    overflow-y: auto;
}
.error {
    color: red;
}
